# Bundler cache
.bundle
.sass-cache
vendor
Gemfile.lock
   
# Jekyll cache
.jekyll-cache
_site
   
# RubyGems
*.gem
   
# NPM dependencies
node_modules
package-lock.json
   
# IDE configurations
.idea
.vscode
   
# Obsidian
.obsidian/

.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/app.json

.trash/
.DS_Store
templates